/*=====================================
Commom css
========================================*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Image style */
#scrollUp {
    background-image: url("../img/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px; 
    height: 38px;
    text-indent:-99999px
}

/*======================================
nav area
========================================*/
nav{
    background:rgba(0, 0, 0, 0.0) !important
}
nav img{
    width:44px;
    height:44px;
}
nav a{
    text-decoration: none !important;
    color:#fff !important;
    text-transform: uppercase;
    font-size:15px !important
}
nav ul li a:hover{
    background:#e84c3c;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sticky{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.5) !important;
    padding: .1rem 0 !important;
}
/*======================================
header area
========================================*/
header{
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))) , url(../img/logo.jpg) no-repeat center top / cover !important;
    background:-o-linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) , url(../img/logo.jpg) no-repeat center top / cover !important;
    background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) , url(../img/logo.jpg) no-repeat center top / cover !important;
    height:100vh;

}
header button{
    background:#e84c3c !important
}
header h2{
    position:relative;
}
header h2::after{
    position: absolute;
    content: "";
    width:50px;
    height:3px;
    background:#fff;
    bottom:-10px;
    right:0;
    left:0;
    margin: auto; 
}
/*======================================
about area
========================================*/
#about h3{
    color:#313133 !important;
}
#about p.text-uppercase{
    color:#e84c3c;
    font-weight: 600;
}
#about img{
    height:400px
}
/*======================================
team section
========================================*/
#team{
    margin: 4rem 0;
}
#team img{
    -webkit-filter:grayscale(120);
            filter:grayscale(120)
}
#team p{
    color:#e84c3c !important;
    font-weight: 600;
}
#team h6.mt-2{
    color:#333 !important;
    font-weight: 700 !important;
}
#team .icons a{
    border:thin solid #8ba6c1;
    border-radius: 50%;
    width:30px;
    height:30px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-decoration: none;
    margin: 0 5px;
}
#team .icons a:hover{
    -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
            transform:rotate(360deg);
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s
}
/*======================================
support section
========================================*/
#support{
    background: #222;
}
#support button{
    background: #e84c3c;
    color: #fff !important
}
/*======================================
work section
========================================*/
#work p{
    color:#666
}
#work h3{
    color:#333
}
#work .card{
    background:#e84c3c
}
#work .row .card.box2{
    background:#0e2b37 !important
}
#work .row .card.box3{
    background:#00b686 !important
}
#work .card{
    border-radius: 0 !important;
}
#work .card i{
    background:#fff;
    color:#000;
    padding:20px;
    border-radius: 50%;
    font-size: 40px;
}
/*======================================
subscribe section
========================================*/
#subscribe{
    background:#222
}
#subscribe input[type="submit"]{
    background:#e84c3c !important
}
/*======================================
gellary section
========================================*/
#gellary button:hover{
    -webkit-box-shadow: inset 1px 1px 5px #666;
            box-shadow: inset 1px 1px 5px #666;
}
#gellary p{
    color:#666
}
#gellary h3{
    color:#333
}
#gellary img{
    height:250px
}
#gellary button{
    border:thin solid #ddd;
    margin: 0 5px;
}
#gellary .mixitup-control-active{
    background:#e84c3c;
    color:#fff !important
}
/*======================================
creative section
========================================*/
#creative .card p{
    color: #888 !important;
    font-weight: 600;
}
#creative i{
    color: #888 !important;
    border:2px solid #888;
    padding: 1.3rem;
    border-radius: 15px;
}
#creative .card{
    border:none !important
}
#creative .row .col p.m-auto{
    color: #999 !important;
    font-weight: 500;
}
#creative h3{
    color:#444 !important;
}
#creative h3 span{
    color:#e84c3c !important;
    font-weight: 600;
}
/*======================================
pricing section
========================================*/
#pricing{
    background-color: #eeeeee
}
#pricing .card .card-header{
    background:#00bfa1 !important;
}
#pricing .card .card-footer h4{
    color:#00bfa1 !important;
    font-weight: 600;
}
#pricing .card{
    border-radius: 23px !important;
}
#pricing .card .card-header{
    border-top-left-radius: 23px !important;
    border-top-right-radius: 23px !important;
}
#pricing .card li{
   line-height: 3.5rem !important;
   list-style: none !important;
   margin-left: 2rem;
   font-weight: 600;
   color:#444 !important;
}
#pricing .card li i{
    color:#00bfa1
 }
 #pricing .card li i.fa-times{
    color:#e84c3c
}
#pricing .card .card-header.sec{
    background:#2368ff !important;
}
#pricing .card .card-header.sec2{
    background:#ff6514 !important;
}
#pricing .card .card-footer.two h4{
    color:#2368ff !important;
}
#pricing .card .card-footer.one h4{
    color:#ff6514 !important;
}
#pricing p{
    color:#666 !important;
    font-weight: 500;
}
/*======================================
clints section
========================================*/
#clints{
    background-color: #444;
}
#clints h3{
    position: relative;
}
#clints h3::after{
    content: " ";
    position: absolute;
    width:50px;
    height:2px;
    background:#fff;
    left:0;
    right:0;
    bottom:-10px;
    margin: auto;
}
#clints input,
#clints textarea{
    background:none !important;
}
#clints button{
    background:#e84c3c !important;
    font-weight: 600;
}
/*======================================
footer
========================================*/
footer{
    background:#222;
    color:#777 !important;
}
footer h5{
    color:#fff !important
}
footer .col-lg-3:first-child p{
    margin-bottom: 3px !important;
} 
footer button{
    background:#e84c3c !important;
    color:#fff !important;
    margin-right: .2rem;
} 
#moreInfo{
    background:#111 !important
}
/*=============================
Custom Media Query
===============================*/
@media screen and (max-width:1140px){
    header .row p{
        width:75% !important;
    }
}
@media screen and (max-width:992px){
    nav ul li{
        padding:.7rem 0 !important;
    }
}
@media screen and (max-width:792px){
    header .row p{
        width:100% !important;
    }
    #creative p{
        width:100% !important
    }
}
@media screen and (max-width:768px){
    #about .row .align-self-center{
        margin-top:3rem !important;
    }
}
@media screen and (max-width:576px){
    #gellary button{
        margin: 0;
        padding:.3rem .4rem;
        font-size: 15px;
    }
    #about h3{
        width:100% !important
    }
}